/* .fullWidth {
  width: 100vw;
} */

.list {
  width: 100%;
  padding: 0;
  background: #faf4ee;
}

.list > li {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 10px 10px;
}

.item-icon {
  flex-basis: 90px;
}

.item-more {
  flex-basis: 20px;
}

.list > li > p {
  flex-grow: 1;
}
